body {
  padding-bottom: 69px;
}

.content-heading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 68px;
}

.page-brand .content-heading {
  background-color: #3f51b5;
}

.content {
  position: relative;
  top: 56px;
}
